/* Small Devices Responsive */
@media screen and (max-width: 576px) {
    /* Common Styles */
    nav,
    .main-nav ul,
    .banner-section,
    .gammer,
    .online-game > .card-container
    {
        flex-direction: column;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .banner,
    .banner-img,
    .gammer-img,
    {
        width: 90%;
    }
    /* Nav & banner Section Styles */
    .main-nav ul{
        display: flex;
        gap: 1.5rem;
    }
    .main-nav ul:first-child{
        margin-top: 1rem;
    }
    .banner .btn-primary{
        margin-bottom: 1.125rem;
    }

    .banner-title-goat{
        font-size: 4rem;
    }
/* Gammer Section Styles */
.gammer-content{
    text-align: center;
}
.gammer-description{
    width: 100%;
    margin: 1rem 0rem;
}
/* card section styles */
.card{
    width: 80%;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 3.5rem;
}
}

/* Medium Device Responsive */
@media screen and (min-width: 576px) and (max-width: 992px){
    

}