/* Small Devices Responsive */
@media screen and (max-width: 576px) {
    /* Common Styles */
    nav,
    .main-nav ul,
    .banner-section,
    .gammer,
    .online-game > .card-container,
    .paly-game,
    .careers
    {
        flex-direction: column;
    }
    .banner-section,
    .play-instantly
    {
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .banner-img,
    .gammer-img,
    .careers-content,
    .careers-image,
    .play-instantly-content,
    .play-game-content,
    .gammer-content
    {
        width: 90%;
    }

    .paly-game-img img,
    .play-instantly-img img,
    .banner-section,
    .banner{
        width: 100%;
    }

    .play-instantly-content,
    .play-game-content,
    .banner-section{
        text-align: center;
    }

    .play-game-content{
        margin: 0;
        padding: 0;
    }
    /* Nav & banner Section Styles */
    .main-nav ul{
        display: flex;
        gap: 1.5rem;
    }
    .main-nav ul:first-child{
        margin-top: 1rem;
    }
    .banner .btn-primary{
        margin-bottom: 1.125rem;
    }

    .banner-title-goat{
        font-size: 4rem;
    }
/* Gammer Section Styles */
.gammer-content{
    text-align: center;
}
.gammer-description{
    width: 100%;
    margin: 1rem 0rem;
}
/* card section styles */
.card{
    width: 80%;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 3.5rem;
}
/* .paly-game Styles */
.paly-game-img img,
.play-instantly-img img,
{
    width: 100%;
    position: relative;
}

.play-instantly-img-one
{
    position: absolute;
    top: 22rem;
    right: 10rem;
}
.paly-game-img-one
{
    position: absolute;
    top: 0rem;
    right: 0rem;
}
.paly-game-img-one{
    top: 350rem;
    left: 20rem;
    width: 10rem;
}
.play-instantly-img-one{
    top: 308rem;
    left: 20rem;
    width: 10rem;
}

.profile-h2-img{
    flex-wrap: wrap;
}
}


/* Medium Device Responsive */
@media screen and (min-width: 576px) and (max-width: 992px){
    

}