/* Small Devices Responsive */
@media screen and (max-width: 576px) {
    /* Common Styles */
    nav,
    .main-nav ul,
    .banner-section
    {
        flex-direction: column;
    }
    .banner-section{
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .banner,
    .banner-img
    {
        width: 90%;
    }
    /* Nav & banner Section Styles */
    .main-nav ul{
        display: flex;
        gap: 1.5rem;
    }
    .main-nav ul:first-child{
        margin-top: 1rem;
    }
.banner{
    padding-left: 6rem;
}
}

/* Medium Device Responsive */
@media screen and (min-width: 576px) and (max-width: 992px){
    

}