/* Work Sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*====================== */
/* ------Common Styles---------- */
/* ===================== */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --primary-color: #FF42A5;
    --secondary-color: #4EC5F7;
    --description-color: #534C64;
    --black-color: #0B0223;
    --white-color: #FFF;
    --heading-font-size: 3rem;
    --description-font-size: 1.125rem;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: var(--description-font-size);
    font-weight: 400;
}

h2{
    color: var(--black-color);
    font-size: 2.5rem;
    font-weight: 600;
}

p{
    color: var(--description-color);
    font-size: var(--description-font-size);
    font-weight: 400;
    line-height: 30px; 
}

.w25{
    width: 25%;
}
.w50{
    width: 50%;
}

.s-gap{
    margin: 2.5rem 0rem;
}
/* Button Design */
.btn-primary{
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: var(--white-color);
    font-size: var(--description-font-size);
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
}

.btn-secondary{
    border-radius: 3rem;
    background: var(--secondary-color);
    color: var(--white-color);
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
}

.btn-tertiary{
    border-radius: 3rem;
    background: var(--white-color);
    color: var(--primary-color);
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
}

/*====================== */
/* ------Hero Section Styles---------- */
/* ===================== */
nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: var(--heading-font-size);
    font-weight: 700;
}

.logo span{
    color: var(--primary-color);
}

.logo img{
    object-fit: cover;
    margin-right: 1.125rem;
}
.main-nav ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: end;
    align-items: center;
}

.main-nav a{
    text-decoration: none;
    color: var(--black-color);
}

.btn-nav{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.125rem 1.5rem;
}
/* banner Section */
.banner{
    background-image: url('../img/Group\ 14.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title{
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-goat{
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-section ul li{
    color: var(--description-color);
    font-size: 1.25rem;
    font-weight: 500;
    list-style: none;
    margin-left: 2rem;
}

.banner-section ul li:last-child{
    margin-bottom: 1.5rem;
}

.banner-img img{
    width: 100%;
}

/*====================== */
/* ------Gammer Section Styles---------- */
/* ===================== */
.gammer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
}

.gammer-img img{
    width: 100%;
}

.gammer-content{
    text-align: right;
}
.gammer-title{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.gammer-description{
    line-height: 30px;
    width: 32.5rem;
    margin-left: 2.8rem;
    margin: 1rem 0rem  1rem 2.8rem;
}

.gammer-purpose-description{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.2rem;
    margin-top: 2.2rem;
}
..gammer-purpose-description span{
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 2.5rem;
}

/*====================== =========*/
/* ------Gammer Card Section Styles---------- */
/* ============================== */
.online-game > .card-container{
    display: flex;
    justify-content: space-between;;
    gap: 1.5rem;
}

.card img{
    width: 100%;
}

.online-game h2{
    margin-top: 5rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.online-game span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.online-game .online-game-description{
    text-align: center;
    margin-bottom: 3rem;
}

/*====================== =========*/
/* ------play-instantly Section Styles---------- */
/* ============================== */
.play-instantly{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
}

.play-instantly-img{
    width: 90%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: right;
}

.play-instantly-img-one{
    position: absolute;
    top: 22rem;
    right: 28rem;
}

.play-instantly-content
    {
        text-align: right;
        margin-right: 12rem;
    }

.play-instantly-title span,
.paly-game-title span
    {
        background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

/* play-instantly-content */
.paly-game{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10rem 0rem;
}

.paly-game-img{
    width: 70%;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: right;
}

.paly-game-img-one{
    position: absolute;
    top: 25rem;
    left: 32rem;
}

.play-game-content
    {
        text-align: left;
        margin-left: 5rem;
    }

    
/*====================== =========*/
/* ------Careers Section Styles---------- */
/* ============================== */
.careers-section{
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.careers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 0rem;
    gap: 3.5rem;
}

.careers-list{
    display: flex;
    justify-content: space-between;
}
.careers-image img{
    width: 100%;
}

.careers-content h2{
    margin-right: 3rem;
    color: var(--white-color);
    font-weight: 700;
    line-height: 60px;
}

.careers-content p{
    color: var(--white-color);
}

.list-one, .list-two{
    color: var(--white-color);
    margin: 1.5rem 0rem;
    font-weight: 600;
    line-height: 40px; 
}

.list-one ul{
    list-style: none;
}
.list-two ul{
    text-align: right;
    list-style: none;
}

