/* Work Sans Google Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');
/*====================== */
/* ------Common Styles---------- */
/* ===================== */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --primary-color: #FF42A5;
    --secondary-color: #4EC5F7;
    --description-color: #534C64;
    --black-color: #0B0223;
    --white-color: #FFF;
    --heading-font-size: 3rem;
    --description-font-size: 1.125rem;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

body{
    font-family: 'Work Sans', sans-serif;
    font-size: var(--description-font-size);
    font-weight: 400;
}

h2{
    color: var(--black-color);
    font-size: 2.5rem;
    font-weight: 600;
}

p{
    color: var(--description-color);
    font-size: var(--description-font-size);
    font-weight: 400;
    line-height: 30px; 
}

.w25{
    width: 25%;
}
.w50{
    width: 50%;
}

.s-gap{
    margin: 1.25rem 0rem;
}

/* Button Design */
.btn-primary{
    border-radius: 3rem;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: var(--white-color);
    font-size: var(--description-font-size);
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding: 1.25rem 2.5rem;
}

.btn-secondary{
    border-radius: 3rem;
    background: var(--secondary-color);
    color: var(--white-color);
    font-weight: 600;
    text-transform: uppercase;
    border: 0;
    padding: 1.25rem 2.5rem;
}

/*====================== */
/* ------Hero Section Styles---------- */
/* ===================== */
nav{
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size: var(--heading-font-size);
    font-weight: 700;
}

.logo span{
    color: var(--primary-color);
}

.logo img{
    object-fit: cover;
    margin-right: 1.125rem;
}
.main-nav ul{
    display: flex;
    list-style: none;
    gap: 4rem;
    justify-content: end;
    align-items: center;
}

.main-nav a{
    text-decoration: none;
    color: var(--black-color);
}

.btn-nav{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1.125rem 1.5rem;
}

.banner-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-title{
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title-goat{
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-section ul li{
    color: var(--description-color);
    font-size: 1.25rem;
    font-weight: 500;
    list-style: none;
    margin-left: 2rem;
}

.banner-section ul li:last-child{
    margin-bottom: 1.5rem;
}

.banner-img img{
    width: 100%;
}